/**
 * Fonts
 */
$fontColor--primary: #444A59;
$fontColor--light: #FFFFFF;

/**
 * Buttons
 */
 $buttonColor--primary: #D9D9D9;
 $buttonColor--secondary: #444A59;

/**
 * Backgrounds
 */
$backgroundColor--primary: #F8F8F8;
$backgroundColor--light: #FFFFFF;
$backgroundColor--dark: #D9D9D9;
$cartBatchBackground: #358ED7;

/**
 * devices screen sizes
 */
$desktopViewport: 961px;
$tabletViewport: 701px;

/**
 * Other
 */
$baseSpacingOffset: 4px;
@function spacing($multiplier) {
  @return $baseSpacingOffset * $multiplier;
}